*.bat text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.ipp text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ml text eol=lf
*.mll text eol=lf
*.mly text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.yml text eol=lf
