.demo-panel {
    background: #f8f8f8;
    padding: 12px 8px 4px;
    border-left: 2px solid #659bf1;
    margin: 8px 0px;
}
.routed-content {
    min-height: 120px;
}

.demo-panel .btn {
    margin: 2px 2px;
}

input {
    display: block;
    margin: 4px 2px 8px;
}

p {
    margin: 12px 0px 8px;
}

.demo-panel p {
    margin: 4px 4px 8px;
}

.demo-panel h4 {
    margin: 4px 4px 8px;
}

.demo-panel a {
    display: block;
    margin: 4px;
}

.bs-docs-link + h5 {
    margin-top: 4px !important;
}
