@charset "utf-8";
:root {
    --mdc-theme-primary: #292929;
    --mdc-theme-secondary: #657daa;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
}

html {
    height: 100%;
}

.button-container {
    display: flex;
    margin: -3px;
}

.button-container button {
    margin: 3px;
}

.colored-box {
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    margin: 1em 0em;
}
