:root {
    --code-theme-background: #fafafa;
    --code-theme-selector: var(--code-theme-tag);
    --code-inline-background: #0000000c;
    --sidebar-toggle-background: #f0f0f0;
    --sidebar-name-font-size: 24px;
    --sidebar-name-font-weight: 500;
}

.hide-when-deployed {
    display: none;
}

.markdown-section dt {
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    color: rgb(40, 107, 136);
    margin: 20px 0 -10px 0;
}

.sidebar-nav li p {
    text-transform: uppercase;
    color: rgb(151, 168, 175);
    font-weight: 600;
    user-select: none;
}

.markdown-section div[class^='demo-panel'] {
    margin: 2em 0;
    padding: 1.5em;
    border-width: var(--blockquote-border-width, 0);
    border-style: var(--blockquote-border-style);
    border-color: var(--blockquote-border-color);
    border-radius: var(--blockquote-border-radius);
    background: #fafafa;
    color: var(--blockquote-color);
}

.markdown-section div[class^='demo-panel'] * {
    margin: 1em 1em 0 0;
}

.markdown-section div[class^='demo-panel'] *:first-child {
    margin: 0 1em 0 0;
}

.markdown-section div[class^='demo-panel'] input {
    font-family: var(--base-font-family);
    font-size: 100%;
    border-radius: 2px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    outline: none;
    padding: 4px;
}

.markdown-section div[class^='demo-panel'] input:focus {
    border-color: rgb(179, 211, 231);
    box-shadow: 0px 0px 3px 1px rgb(179, 211, 231);
}

.markdown-section div[class^='demo-panel'] .invalid-input {
    border-color: rgb(231, 179, 179);
}

.markdown-section div[class^='demo-panel'] .invalid-input:focus {
    border-color: rgb(231, 179, 179);
    box-shadow: 0px 0px 3px 1px rgb(231, 179, 179);
}