.rst-content div[class^='highlight'] pre {
    font-size: 14px;
}

.rst-content div[class^='highlight'] {
    border-width: 0px 0px 0px 2px;
    background-color: #0000;
}

.rst-content div[class^='demo-panel'] {
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-color: rgb(225, 228, 229);
    background-color: #0000;
    padding: 12px;
    margin-bottom: 24px;
}

.rst-content div[class^='demo-panel'] * {
    margin-top: 24px;
    margin-bottom: 0px;
    margin-right: 12px;
}

.rst-content div[class^='demo-panel'] *:first-child {
    margin-top: 0px;
}
