@charset "utf-8";
input {
    border-radius: 2px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    outline: none;
    padding: 4px;
}

input:focus {
    border-color: rgb(179, 211, 231);
    box-shadow: 0px 0px 3px 1px rgb(179, 211, 231);
}

.invalid-input {
    border-color: rgb(231, 179, 179);
}

.invalid-input:focus {
    border-color: rgb(231, 179, 179);
    box-shadow: 0px 0px 3px 1px rgb(231, 179, 179);
}

.colored-box {
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.5em;
    margin: 1em 0;
}

.btn {
    margin: 0 0.5em 0 0;
}